/* Start Global Rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


html {
    scroll-behavior: smooth;
}

:root {
    --whiteColor: #ffffff;
    --blackColor: #333333;
    --blueColor: #1db2dd;
    --grayColor: #777777;
    --transparentColor: rgba(29, 178, 221, .5);
    --SectionPadding: 100px;
}


body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

h2 {
    font-size: 1.875em;
    text-transform: uppercase;
    font-weight: 400
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

a {
    transition: all .3s ease-in-out;
}

.center {
    text-align: center;
}

/*header Section*/

header {
    background: url(../img/landing.jpg) no-repeat;
    background-size: cover;
    background-position: top;
    position: relative;
    min-height: 100vh;
}

header .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

header .container::after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #a2a2a2;
    bottom: 0;
    width: calc(100% - 30px);
}

header .logo {
    height: 40px;
}

header nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header nav ul {
    display: flex;
}

header nav ul li {
    margin-left: 43px;
}

header nav ul li a {
    display: block;
    padding: 30px 10px;
    text-transform: uppercase;
    font-size: 0.8125em;
    font-weight: 600;
    color: var(--whiteColor);
    position: relative;
    z-index: 2;
}

header nav ul li a:hover,
header nav ul li a:focus,
header nav ul li a.active {
    color: var(--blueColor);
    border-bottom: 1px solid var(--blueColor);
}

header .form {
    width: 40px;
    height: 30px;
    position: relative;
    margin-left: 43px;
    padding: 30px 10px;
    cursor: pointer;
}

header .form i {
    color: var(--whiteColor);
    position: absolute;
    font-size: 20px;
    right: 0;
}

.menu-toggle {
    display: block;
    font-size: 22px;
    color: var(--whiteColor);
    cursor: pointer;
}


header .header-text {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--transparentColor);
    color: var(--whiteColor);
    width: 50%;
    padding: 63px;
    line-height: 1.6;
    display: flex;
    justify-content: flex-end;
}

header .header-text .text-content {
    max-width: 500px;
}

header .header-text .text-content h2 {
    margin-bottom: 40px;
    font-size: 1.875em;
    font-weight: normal;
}

header .header-text .text-content p {
    font-size: 0.8125em;
}

/*Services Section*/

.services,
.portfolio,
.about,
.stats,
.our-skills,
.quote,
.pricing,
.subscribe,
.contact {
    padding: var(--SectionPadding) 0 var(--SectionPadding) 0;
}

.services h2,
.portfolio h2,
.about h2,
.pricing h2,
.contact h2 {
    position: relative;
    margin-bottom: 70px;
}

.services h2::before,
.portfolio h2::before,
.about h2::before,
.pricing h2::before,
.contact h2::before {
    content: " ";
    position: absolute;
    width: 120px;
    height: 2px;
    background-color: var(--blackColor);
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);

}

.services h2::after,
.portfolio h2::after,
.about h2::after,
.pricing h2::after,
.contact h2::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid var(--blackColor);
    background-color: var(--whiteColor);
    bottom: -38px;
    left: 50%;
    transform: translateX(-50%);
}

.services .container > p,
.portfolio .container > p,
.about .container > p,
.pricing .container > p,
.contact .container > p {
    font-weight: 300;
    font-size: 0.8125em;
    width: 550px;
    max-width: 100%;
    margin: 0 auto 100px auto;
    line-height: 2;
    color: var(--grayColor);
}


.serv-box {
    display: flex;
    margin-bottom: 50px;
}

.serv-box i {
    margin-right: 50px;
}

@media (max-width: 767px) {
    .serv-box {
        flex-direction: column;
        text-align: center;
    }

    .serv-box i {
        margin: 0 0 30px 0;
    }
}

.serv-box .serv-text h3 {
    font-size: 1.25em;
    color: var(--blueColor);
    font-weight: 400;
    margin-bottom: 27px;
}

.serv-box .serv-text p {
    font-size: 0.8125em;
    font-weight: 300;
    color: var(--grayColor);
    line-height: 2;

}

@media(min-width: 768px) {
    .services .serv-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
        grid-column-gap: 40px;
        grid-row-gap: 60px;
    }
}


/*Design Section*/
.design {
    padding: var(--SectionPadding) 0;
    height: 530px;
    background: url(../img/design-features.jpg) no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.design::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.design .image,
.design .design-text {
    position: relative;
    z-index: 2;
    flex: 1;
}

.design .image {
    text-align: center;
}

@media (max-width: 767px) {
    .design .image {
        display: none;
    }
}

.design .image img {
    position: relative;
    bottom: -150px;
}

.design .design-text {
    color: var(--whiteColor);
    padding: 50px;
    background-color: var(--transparentColor);
}

.design .design-text h2 {
    margin-bottom: 30px;
}

.design .design-text ul li {
    padding: 15px 0;
}

.design .design-text ul li::before {
    content: "\f108";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    margin-right: 10px;
    position: relative;
    top: 1px;
}

/*Portfolio Section*/

.portfolio .shuffle {
    display: flex;
    justify-content: center;
}

.portfolio .shuffle li {
    padding: 10px;
}

.portfolio .shuffle li.active {
    background-color: var(--blueColor);
    color: var(--whiteColor);
}

.portfolio .imgs-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}

.portfolio .imgs-container .box {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

@media (min-width: 768px) {
    .portfolio .imgs-container .box {
        flex-basis: 50%;
    }
}

@media (min-width: 1199px) {
    .portfolio .imgs-container .box {
        flex-basis: 25%;
    }
}



.portfolio .imgs-container .box img {
    max-width: 100%;
    transition: .3s;
}

.portfolio .imgs-container .box .caption {
    position: absolute;
    left: 0;
    padding: 20px;
    background-color: var(--whiteColor);
    width: 100%;
    transition: .3s;
    bottom: -100%;
}

.portfolio .imgs-container .box:hover .caption {
    bottom: 0;
}

.portfolio .imgs-container .box:hover img {
    transform: rotate(2deg) scale(1.1);
}

.portfolio .imgs-container .box .caption h4 {
    font-weight: 400;
    margin-bottom: 10px;
}

.portfolio .imgs-container .box .caption p {
    color: var(--blueColor);
}

.portfolio .more {
    display: block;
    background-color: var(--blueColor);
    color: var(--whiteColor);
    padding: 15px 20px;
    margin: 30px auto;
    width: fit-content;
    text-transform: uppercase;
}

.portfolio .more:hover {
    background-color: var(--transparentColor);
}

/*Video Section*/

.video {
    position: relative;
}

.video::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.video video {
    width: 100%;
}

.video .video-text {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 50px;
    color: var(--whiteColor);
    background-color: var(--transparentColor);
}

.video .video-text h2 {
    margin-bottom: 30px;
}

.video .video-text p {
    margin-bottom: 30px;
}

.video .video-text button {
    background-color: var(--blackColor);
    color: var(--whiteColor);
    padding: 10px 20px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}

/*About Section*/
.about {
    overflow: hidden;
    text-align: center;
}

.about img {
    position: relative;
    bottom: -120px;
    margin-top: -120px;
    max-width: 100%;
}

@media (max-width: 767px) {
    .about img {
        bottom: -60px;
        margin-top: -60px;
    }
}

/*Stat Section */
.stats {
    text-align: center;
    background: url(../img/stats.png) no-repeat;
    background-size: cover;
    position: relative;
}

.stats::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.stats .container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.stats .container .box {
    color: var(--whiteColor);
    padding: 50px;
    background-color: var(--transparentColor);
}

.stats .container .box i {
    width: 40px;
    height: 40px;
    display: flex;
    background-color: var(--blackColor);
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 auto 30px;
}

.stats .container .box .number {
    font-size: 3.125em;
    font-weight: bold;
    margin: 0 0 20px;
}

.stats .container .box p {
    font-size: 0.875em;
}

@media (max-width: 767px) {
    .stats .container .box {
        flex-basis: 100%;
    }
}

@media (min-width: 768px) {
    .stats .container .box {
        flex-basis: 50%;
    }
}

@media (min-width: 992px) {
    .stats .container .box {
        flex-basis: 25%;
    }
}

/*Skills Section*/

.our-skills .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (min-width: 992px) {
    .our-skills .container > div {
        flex-basis: 45%;
    }
}

.our-skills .container > div > h3 {
    margin: 0 0 30px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.our-skills .container > div > p {
    color: var(--grayColor);
    line-height: 2;
    text-align: center;
    margin-bottom: 60px;
}

.our-skills .testimonials .content {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
}

.our-skills .testimonials .content img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 50px;
}

@media (max-width: 767px) {
    .our-skills .testimonials .content {
        flex-direction: column;
        text-align: center;
    }

    .our-skills .testimonials .content img {
        margin: 0 auto 20px;
    }
}

.our-skills .testimonials .text {
    line-height: 1.8;
    border-bottom: 1px solid #ccc;
}

.our-skills .testimonials .text p {
    color: var(--grayColor);
    text-align: right;
    font-size: 0.875em;
    margin-bottom: 10px;
}

.our-skills .testimonials .bullets {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.our-skills .testimonials .bullets li {
    width: 14px;
    height: 14px;
    border: 1px solid #aaa;
    border-radius: 50%;
    margin-right: 10px;
}

.our-skills .testimonials .bullets li.active {
    background-color: var(--blueColor);
    border-color: var(--blueColor);
}

.our-skills .skills .prog-holder {
    margin-bottom: 40px;
}

.our-skills .skills .prog-holder h4 {
    margin-bottom: 15px;
    font-weight: 400;
    text-transform: uppercase;
}

.our-skills .skills .prog-holder .prog {
    background-color: #dedadc;
    height: 30px;
}

.our-skills .skills .prog-holder .prog span {
    display: block;
    background-color: var(--blueColor);
    height: 100%;
    position: relative;
}

.our-skills .skills .prog-holder .prog span::before {
    content: attr(data-progress);
    position: absolute;
    background-color: var(--blackColor);
    color: var(--whiteColor);
    top: -40px;
    right: -18px;
    padding: 4px 0;
    width: 40px;
    text-align: center;
    border-radius: 4px;
}

.our-skills .skills .prog-holder .prog span::after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 8px;
    border-color: var(--blackColor) transparent transparent;
    right: -8px;
    top: -10px;
}

/*quote Section*/
.quote {
    background: url(../img/quote.jpg) no-repeat;
    background-size: cover;
    position: relative;
    color: var(--whiteColor);
    text-align: center;
}

.quote::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.quote .container {
    position: relative;
}

.quote q {
    font-size: 1.875em;
    margin-bottom: 20px;
    line-height: 1.8;
    display: block;
}

/*Pricing Section*/

.pricing .plans {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
}

.pricing .plans .plan {
    background-color: #fcfcfc;
    text-align: center;
}

.pricing .plans .plan .head {
    padding: 40px 20px;
    border-top: 1px solid var(--blueColor);
    border-bottom: 1px solid var(--blueColor);
}

.pricing .plans .plan .head h3 {
    font-weight: 400;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.pricing .plans .plan .head span {
    font-size: 60px;
    font-weight: 600;
}

.pricing .plans .plan .head span::before {
    content: "$";
    position: relative;
    font-size: 20px;
    top: -40px;
    margin-right: 15px;
    font-weight: 400;
}

.pricing .plans .plan .head span::after {
    content: "/Mo";
    font-size: 20px;
    position: relative;
    right: -15px;
}

.pricing .plans .plan ul {
    border-bottom: 1px solid var(--blueColor);
}

.pricing .plans .plan ul li {
    padding: 20px;
    position: relative;
}

.pricing .plans .plan ul li:not(:last-child)::after {
    content: "";
    position: absolute;
    width: 130px;
    height: 1px;
    background-color: var(--blueColor);
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

.pricing .plans .plan .foot a {
    display: block;
    padding: 10px 20px;
    border: 1px solid var(--blueColor);
    width: fit-content;
    margin: 30px auto;
}

.pricing .contact-text {
    text-align: center;
    margin: 50px auto 20px;
    font-size: 20px;
}

.pricing .contact-link {
    display: block;
    width: fit-content;
    margin: 20px auto;
    background-color: var(--blueColor);
    color: var(--whiteColor);
    padding: 15px 30px;
}

/*Subscribe Section*/
.subscribe {
    background: url(../img/subscribe.jpg) no-repeat;
    background-size: cover;
    position: relative;
    color: var(--whiteColor);
}

.subscribe::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.subscribe .container {
    position: relative;
    display: flex;
    align-items: center;
}

@media (max-width: 991px) {
    .subscribe .container {
        flex-direction: column;
    }
}

.subscribe form {
    display: flex;
    position: relative;
    width: 500px;
    max-width: 100%;
}

.subscribe form i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 25px;
}

.subscribe form input[type="email"] {
    border: 1px solid var(--whiteColor);
    border-right: none;
    background: none;
    padding: 20px 20px 20px 60px;
    caret-color: var(--blueColor);
    width: calc(100% - 130px);
}

.subscribe form input[type="submit"] {
    width: 130px;
    background-color: var(--blueColor);
    color: var(--whiteColor);
    padding: 10px 20px;
    border: 1px solid var(--whiteColor);
    border-left: none;
    text-transform: uppercase;
    cursor: pointer;
}

.subscribe form::placeholder {
    color: var(--whiteColor);
}

.subscribe form input[type="email"]:focus,
.subscribe form input[type="submit"]:focus {
    outline: none;
}

.subscribe p {
    line-height: 2;
    margin-left: 50px;
}

@media (max-width: 991px) {
    .subscribe p {
        margin: 30px 0 0;
    }
}

/*.contact Section*/

.contact .content {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 767px) {
    .contact .content {
        flex-direction: column;
    }
}

.contact .content form {
    flex-basis: 70%;
}

.contact .content form .main-input {
    padding: 20px;
    display: block;
    border: 1px solid #ccc;
    margin-bottom: 30px;
    width: 100%;
}

.contact .content form .main-input:focus {
    outline: none;
}

.contact .content form textarea.main-input {
    height: 200px;
}

.contact .content form input[type="submit"] {
    color: var(--whiteColor);
    background-color: var(--blueColor);
    padding: 20px;
    display: flex;
    margin-left: auto;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
}

.contact .content .info {
    flex-basis: 25%;
}

@media (max-width: 767px) {
    .contact .content .info {
        order: -1;
        text-align: center;
    }
}


.contact .content .info h4 {
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 18px;
}

.contact .content .info .phone {
    display: block;
    color: var(--grayColor);
    margin-bottom: 10px;
}

.contact .content .info h4:nth-of-type(2) {
    margin-top: 90px;
}

.contact .content .info address {
    color: var(--grayColor);
    line-height: 2;
}

@media (max-width: 767px) {
    .contact .content .info h4:nth-of-type(2) {
        margin-top: 30px;
    }

    .contact .content .info address {
        margin-bottom: 40px;
    }
}

/*Footer*/

.footer {
    background: url(../img/subscribe.jpg) no-repeat;
    background-size: cover;
    position: relative;
    color: var(--whiteColor);
    padding: calc(var(--SectionPadding) / 2) 0;
    text-align: center;
}

.footer::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.footer .container {
    position: relative;
}

.footer img {
    margin-bottom: 20px;
}

.footer p:not(.copyright) {
    text-transform: uppercase;
    margin: 20px auto;
    padding: 20px;
    border-bottom: 1px solid var(--whiteColor);
    font-size: 22px;
    width: fit-content;
}

.footer .social-icons i {
    padding: 10px 15px;
}

.footer .copyright {
    margin-top: 60px;
}

.footer .copyright span {
    font-weight: 700;
    color: var(--blueColor);
}

/*Responsive*/

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }

    .menu-toggle {
        display: none;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

@media (max-width: 767px) {
    header nav ul {
        display: none;
    }

    header .menu-toggle:hover + ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgb(0 0 0 / 50%);
    }

    header nav ul li a {
        padding: 15px !important;
    }
}